section.section.section-courses
    .container-fluid
        .row
            .col-md-3
                h3.section__title Courses
            .col-md-9
                .section__content
                    h4 "LoftSchool"
                    p.section__text Продвинутый курс по веб-разработке (2016)
                    a.section__link(href="https://loftschool.com/certificate/AL92668445128/en" target="_blank") Сертификат