section.section.section-courses
    .container-fluid
        .row
            .col-sm-3
                h2.section__title Courses
            .col-sm-9
                .section__content
                    h3 "LoftSchool"
                    p.section__text Продвинутый курс по веб-разработке (2016)
                    a.link(href="https://loftschool.com/certificate/AL92668445128/en" target="_blank") Сертификат