footer.footer
    .container-fluid
        .row
            .col-xs-12.col-sm-6.text-left.footer__content
                a.link.link_white(href="//github.com/vetalxpro/cv-intersog" target="_blank")
                    i.fa.fa-github(aria-hidden="true")
                    span Source Code
            .col-xs-12.col-sm-6.text-right.footer__content Doroshenko Vitalii &copy;2017
