header.header
    .container-fluid
        .row
            .col-md-8
                h1 Doroshenko Vitalii
                h4  CV
            .col-md-4
                ul.header__list
                    li.header__list-item
                        i.fa.fa-envelope
                        a.header__list-link(href="#" target="_blank") doroshenko.vt@gmail.com
                    li.header__list-item
                        i.fa.fa-phone
                        a.header__list-link(href="tel:+380971460923" target="_blank") +38 (097) 146-09-23

