header.header
    .container-fluid
        .row
            .col-sm-8
                h1 Doroshenko Vitalii
                h2.header__subtitle  CV
            .col-sm-4
                ul.header__list
                    li.header__list-item
                        a.link.link_white(href="mailto:doroshenko.vt@gmail.com")
                            i.fa.fa-envelope(aria-hidden="true")
                            span doroshenko.vt@gmail.com
                    li.header__list-item
                        a.link.link_white(href="tel:+380971460923")
                            i.fa.fa-phone(aria-hidden="true")
                            span +38 (097) 146-09-23

