section.section.section-summary
    .container-fluid
        .row
            .col-md-3
                h3.section__title Summary
            .col-md-9
                .section__content
                    p.section__text Вебом