section.section.section-summary
    .container-fluid
        .row
            .col-sm-3
                h3.section__title Summary
            .col-sm-9
                .section__content
                    p.section__text Основное направление MEAN-stack. Также интересуюсь технологиями 2D/3D веб-графики (canvas, WebGL). Есть базовые знания Java SE/EE, PHP.
                    p.section__text На данный момент участвую в нескольких общественных проектах в компании 482solutions.