section.section.section-work
    .container-fluid
        .row
            .col-sm-3
                h2.section__title Work Experience
            .col-sm-9
                .section__content
                    h3 Телерадиокомпания "ЛиС"
                    p.section__text Администратор технической поддержки (2011-2017)