extends layout
block content
    canvas#particles
    .main-wrapper
        include blocks/header
        .content
            include blocks/summary
            include blocks/skills
            include blocks/education
            include blocks/work-experience
            include blocks/courses
        include blocks/footer

